# Core functionality - changes here should be rare!
/src/app.py                   @BlueErik
/src/backend/database.py      @BlueErik
/src/backend/routers/auth.py  @BlueErik

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BlueErik
